body{
  background-color:pink;
}

#header{
  color:purple;
  position: fixed;
}

.list{
  color:purple;
  font-size:25px;
}

.damn{
  color: blue;
  font-size: 100px;
}

.white{
  color: white;
}

.p1,.p3{
  color: green;
}

.p2{
  color:blue;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.box{
  margin-top:10px;
  margin-right:10%;
  margin-bottom:10px;
  margin-left:10%;
  border: blue 3px solid;
  padding: 10px 20% 10px 20%;
}
